<%= form_for @user do |f| %>
<% if @user.errors.any? %>
		<div class="alert">
			<% @user.errors.full_messages.each do |msg| %>
				<p><%= msg %></p>
			<% end %>
		</div>
	<% end %>

	<p>
		<%= f.label :username %><br>
		<%= f.text_field :username, required: true %>
	</p>
	<p>
		<%= f.label :email %><br>
		<%= f.email_field :email, required: true %>
	</p>
		<% if @user.new_record? %> 
			<p>
				<%= f.label :password %><br>
				<%= f.password_field :password, required: true %>
			</p>
			<p>
				<%= f.label :password_confirmation %><br>
				<%= f.password_field :password_confirmation, required: true %>
			</p>
		<% end %>
	<p>
		<%= f.label :avatar %><br>
		<%= f.file_field :avatar %></p>
	<p>
		<%= f.label :occupation %><br>
		<%= f.text_field :occupation %>
	</p>
	<p>
		<%= f.label :age %><br>
		<%= f.number_field :age %>
	</p>
		<%= f.label :hometown %><br>
		<%= f.text_field :hometown %>
	<p>

	</p>
		<%= f.label :instrument_of_choice %><br>
		<%= f.text_field :instrument %>
	<p>

	</p>
		<p>
			<%= f.submit(@user.new_record? ? 'sign up' : 'edit account') %>
		</p>
<% end %>



