<h1>Welcome there <%= @user.username %></h1>
<p>
	Occupation: <%= @user.occupation %> 
</p>
<p>
	Age: <%= @user.age %> 
</p>
<p>
	Hometown: <%= @user.hometown %> 
</p>
<p>
	Instrument of choice: <%= @user.instrument %> 
</p>

<!-- 
 t.string   "username"
    t.string   "occupation"
    t.string   "email"
    t.string   "password"
    t.integer  "age"
    t.string   "hometown"
    t.string   "instrument" -->