<div class="things">
		<h1><%= @post.title %></h1>
		<div class="fiver">
			<h6 class='list'>#5 <%= @post.five %></h6>
			<h5 class='list'>#4 <%= @post.four %></h5>
			<h4 class='list'>#3 <%= @post.three %></h4>
			<h3 class='list'>#2 <%= @post.two %></h3>
			<h2 class='list'>#1 <%= @post.one %></h2>
		</div>

<div class="post_maker">
	<p>by <%= link_to @post.user.username, @post.user %></p>
	<%= link_to (image_tag @post.user.avatar.url, class: 'user_pic'), @post.user %>
</div>

<% if current_user and current_user == @post.user  %> 
	<p><%= link_to 'delete post', @post, method: :delete %></p>
<% end %> 

<% if current_user %>
	<h3>New Comment</h3>
		<%= form_for [@post, @comment] do |f| %>
			<%= f.text_area :body %><br>
			<%= f.submit %>
		<% end %> 
	<% end %> 


<h4>Comments</h4>
	<div><% @post.comments.reverse.each do |comment| %> 
		<p class='comments'><%= comment.body %></p>
		<p class='user_link'><%= link_to comment.user.username, comment.user %></p>
	</div>
	<% end %>
</div>