<!DOCTYPE html>
<html>
<head>
  <title>Top5</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav>
				<% if current_user %>
					<span id="welcome_user">Hello, <%= link_to current_user.username, profile_path %></span>
					<ul>
						<li id='root'><%= link_to 'Latest Top Five', root_path %></li>
						<li><%= link_to 'Edit', edit_user_path(current_user.id) %></li>
						<li><%= link_to 'Log Out', sessions_path, method: :delete %></li>
					<% else %>
						<li><%= link_to 'Latest Top Five', root_path %></li>
						<li><%= link_to 'Sign Up', new_user_path %></li>
						<li><%= link_to 'Log In', login_path %></li>
					<% end %>
				</ul>
		</nav>
	</header>
		
	<%= image_tag('john.png', id: "john")%>
	<main>
	<% if flash[:notice] %>
			<div id='flash'><%= flash[:notice] %></div>
		<%end%>
	<%= yield %>
	</main>
</body>
</html>
